body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #25293d;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-description{
    margin-left: 10%;
}

.logo-container{
    max-height: 200px;
    width: auto; /* Définissez la largeur maximale du conteneur du logo */
}

.logo-container img{
    max-height: 200px; /* Hauteur maximale du logo */
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    
}

.logo {
    margin-right: 10%;
    max-width: 100%; /* Le logo ne dépassera pas la largeur du conteneur */
    height: auto; /* Maintient les proportions du logo */
    display: block; /* Élimine l'espace supplémentaire sous l'image */
}

.btn-container {
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
}

.button {
    background-color: #606999 ;
    color: #fff;
    padding: 10px 15px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #474c6b ;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}


.inscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.feature {
    text-align: center;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: #fff; /* Couleur de fond des fonctionnalités */
}

.feature:hover {
    transform: scale(1.05);
}

/* .inscription {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 50px 0;
} */

.inscription a{
    font-weight: bold;
}

.inscription a:visited{
    color: #fff;
}

footer {
    background-color: #f8f8f8;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer-section h3 {
    color: #333;
    text-align: center;
    margin:0;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
    color: #777;
}