table {
    width: 90%;
    margin: 0 auto;
}

.container-table {
    padding: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}