{% extends 'base.html.twig' %}

{% block title %}Paiement Annulé{% endblock %}

{% block body %}
<h1>Paiement Annulé</h1>
<p>Le processus de paiement a été annulé. Si cela a été fait par erreur, veuillez réessayer.</p>
<p>Réessayer le paiement en cliquant de nouveau sur le lien de paiement de votre e-mail.</p>
{% endblock %}
