{% extends 'base.html.twig' %}

{% block title %}Paiement Réussi{% endblock %}

{% block body %}
<h1>Paiement Réussi</h1>
<p>Votre abonnement à KineHub a été activé avec succès. Merci de votre confiance.</p>
<a href="{{ path('accueil') }}">Retour à l'accueil</a>
{% endblock %}
