<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="{{ asset('images/logoico.ico') }}">
		<title>
			{% block title %}KineHub
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('css/accueilstyles.css') }}">
		<link rel="stylesheet" href="{{ asset('css/form-styles.css') }}">
		<link rel="stylesheet" href="{{ asset('css/base-styles.css') }}">
	</head>
	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>