{# templates/inscription_confirmation.html.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Confirmation d'inscription{% endblock %}

{% block body %}
    <h1>Merci pour votre inscription !</h1>
    <p>Votre demande d'inscription a été reçue. Nous allons l'examiner.</p>
{% endblock %}